@import "./flexMe.scss";
@import "./clampCalculate.scss";

.__message_wrapper {
  width: 935px;
  height: 88vh;
  margin: auto;
  border: 2px solid greenyellow;
  @include flexMe(row, flex-start, center);
  .left_col {
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    // border: 2px solid red;
    .head {
      @include flexMe(row, space-between, center);
      padding: 6px clampCalculate(12, 28);
      > div {
        @include flexMe(row, flex-start, center);

        h3 {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-transform: lowercase;
          color: #262626;
          margin: 0px;
        }
        svg {
          width: 28px;
          height: 16px;
        }
      }
    }
    .__messagedUsers {
      padding: clampCalculate(6, 12) clampCalculate(12, 28);
      @include flexMe(row, flex-start, center);
      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
      > div {
        margin-left: clampCalculate(10, 18);
        @include flexMe(column, flex-start, flex-start);

        h3 {
          margin: 0px;
        }
        p {
          margin: 0px;
        }
      }
    }
  }
  .right_Col {
    width: 558px;
    height: 100%;
    // position: relative;
    > div {
      // width: 100%;
      @include flexMe(column, center, center);
      // position: absolute;
      // left: 50%;
      // transform: translate(-50%, -50%);
      svg {
        width: clampCalculate(30, 60);
        height: clampCalculate(30, 60);
      }
      h4 {
        font-weight: 350;
        font-size: 22px;
        line-height: 17px;
        color: #262626;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 11px;
        color: #8e8e8e;
      }
      // button {
      //   width: 110px;
      //   height: 30px;
      //   background: #0095f6;
      //   border-radius: 4px;
      //   font-style: normal;
      //   font-weight: 600;
      //   font-size: 14px;
      //   line-height: 18px;
      //   color: #ffffff;
      //   @include flexMe(row, center, center);
      // }
    }
  }
}

//-------- ChatComponent Scss start--------------//

.__chat_container {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  position: relative;
  .__chat_header {
    border: 2px solid green;
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    @include flexMe(row, space-between, center);
    padding: 0 1rem;
    .__chat_header_left {
      @include flexMe(row, space-between, center);
      column-gap: 0.8rem;
      width: fit-content;
      height: 3rem;
      overflow: hidden;
      img {
        border-radius: 50%;
        border: 2px solid yellow;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 500;
        color: inherit;
        margin: 0px;
      }
    }
    .__chat_header_right {
      @include flexMe(row, center, center);
      column-gap: 0.4rem;
      cursor: pointer;
      svg {
        width: clampCalculate(22, 38);
        height: clampCalculate(22, 38);
      }
    }
  }

  .__chat_footer {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    @include flexMe(row, space-between, center);
    padding: 0 1rem;
  }
}

// --------ChatComponent Scss end--------------//
