.App {
  text-align: center;
  font-family: "Segoe UI";
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
  
button{
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 
 